HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
logs/
src/main/kotlin/com/btm/back/app/
src/main/resources/.DS_Store
src/main/resources/static/
src/main/resources/templates/
src/main/kotlin/com/btm/back/utils/OSSClientConstants.kt
/src/main/resources/application.yml
/src/main/resources/application-debug.yml
/src/main/resources/application-relase.yml
/src/main/resources/logback-spring.xml
/src/main/kotlin/com/btm/back/utils/RonglianConstants.kt

# Ignore build directories
/target/
/build/
/out/

# Ignore IDE specific files
.idea/
*.iml
*.ipr
*.iws

# Ignore local configuration files
application-local.properties
application-dev.properties

# Ignore logs
logs/
*.log

# Ignore dependency directories
node_modules/
bower_components/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore sensitive information files
*.key
*.pem
*.crt
*.jks
*.keystore
*.properties
*.env
*.secret
*.credentials
